<table style="width:100%;text-align:center;">
    <tr>
        <th>Resolution function</th>
        <th>Tau 1</th>
        <th>Tau 2 Range</th>
    </tr>
    <tr>
        <td rowspan="3"><details>
            <summary>3 gaussians</summary>
            <table style="text-align:center;">
                   <tr>
                   <th>FWHM (ps)</th>
                    <th>Intensity (%)</th>
                    <th>Shift (ps)</th>
                </tr>
                <tr>
                    <td>213.3</td>
                    <td>80</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>150.2</td>
                    <td>10</td>
                    <td>-5</td>
                </tr>
                <tr>
                    <td>265.7</td>
                    <td>10</td>
                    <td>17</td>
                </tr>
            </table>
        </details></td>
        <td><a>150</a></td>
        <td><details><summary>180-280</summary> <i>[220, 230, 240, 250, 260, 270, 280]</i></details></td>
    </tr>
    <tr>
        <td><a>180</a></td>
        <td>
            <details><summary>220-280</summary> <i>[180, 190, 200, 210, 220, 230, 240, 250, 260, 270, 280]</i></details>
        </td>
    </tr>
    <tr>
        <td>220</td>
        <td>N/A</td>
    </tr>
    <tr>
        <td>100</td>
        <td rowspan="4">150</td>
        <td rowspan="4">
            <details><summary>180-230</summary> <i>[180, 190, 200, 210, 220, 230]</i></details>
        </td>
    </tr>
    <tr>
        <td>150</td>
    </tr>
    <tr>
        <td>180</td>
    </tr>
    <tr>
        <td>200</td>
    </tr>
</table>